<style>
body {width: 50vw}

div#wrapper {
    display: flex;
    flex-direction: column;
}

span#link {
    display: flex;
    flex-direction: row;
    height: 3em;
    margin-bottom: 1em;
    justify-content: space-between;
}

span#link > img {
    width: 1.5em;
    height: 100%;
}

input#sharedisplay {
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    outline: none;
    text-align: left;
    background-color: #F0F8FF;
    box-shadow: 0 0 0px 1000px #F0F8FF inset;
    flex-grow: 1;
    max-width: calc(100% - 6em);
}

span#expiryspan {
    font-size: smaller;
    margin-bottom: 20px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
}

span#expirycontrols {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0.85em 1em;
    border-radius: 10px;
    background-color: #F0F8FF;
    box-shadow: 0 0 0px 1000px #F0F8FF inset;
    color: #4788C7;
}

span#expirycontrols > span {
    font-weight: 500;
}

span#expirycontrols > input#expiry_value {
    width: 4.2em;
    border: 1px solid rgba(71, 136, 199, 0.28);
    border-radius: 10px;
    outline: none;
    font-family: 'Serif';
    text-align: center;
    padding: 0.45em 0.4em;
    background: #ffffff;
    color: #4788C7;
    box-sizing: border-box;
}

span#expirycontrols > select#expiry_unit {
    border: 1px solid rgba(71, 136, 199, 0.28);
    border-radius: 10px;
    outline: none;
    font-family: 'Serif';
    background: #ffffff;
    cursor: pointer;
    color: #4788C7;
    padding: 0.45em 0.7em;
    min-width: 7.5em;
    box-sizing: border-box;
}

@media (max-width: 900px) {
body {width: auto}
}

span#copied {
    text-align: center;
    font-size: small;
    transition: opacity 1s;
    opacity: 0;
}
</style>

<div id="wrapper">
<span id="link">
    <input type="text" readonly id="sharedisplay" value="{{link}}">
    <img id="share" onclick='event.stopPropagation(); navigator.share({url: "{{link}}", title: "{{i18n.SharedFileTitle}}", text: "{{i18n.SharedFileText}}"});' 
        src="{{dialogpath}}/img/share.svg">
    <img id="copy" onclick="event.stopPropagation(); 
        navigator.clipboard.writeText('{{link}}'); const selector = this.parentNode.parentNode;
        selector.querySelector('span#copied').style.opacity=1;
        setTimeout(_=>selector.querySelector('span#copied').style.opacity=0, 1300);" src="{{dialogpath}}/img/copy.svg">
</span>
<span id="expiryspan">
    <span id="expirycontrols">
        <span>Share for</span>
        <input id="expiry_value" type="number" value="{{shareDuration}}" min="1" step="1" inputmode="numeric" oninput="if (this.value && this.value < 1) this.value = 1;">
        <select id="expiry_unit">
        <option value="minutes" {{minutesSelected}}>Minutes</option>
        <option value="hours"   {{hoursSelected}}>Hours</option>
        <option value="days"    {{daysSelected}}>Days</option>
        </select>
    </span>
</span>
<span id="copied">{{i18n.Copied}}</span>
</div>